/* this make sure all text is in center */
* {
    text-align: center;
}

/* header */
.mynav {
    margin-top: 12px;
}

.input-group button {
    background-color: #f08080;
}

.input-group i {
    color: white;
}

/* This make sure the image doesn't distort */
@media (max-width: 768px) {
    .logo {
        max-width: 50px;
        height: auto;
    }
}

.logo {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* edit the title */
.title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-right: 18px;
    background-color: #4ecdc4;
}

.title h1 {
    color: white;
}

/* edit the filter dropdown button */
.priceF {
    float: left;
}

.priceF button {
    height: 35px;
    width: 50px;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0.5px 0.5px;
}

.ratingF button {
    height: 35px;
    width: 50px;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0.5px 0.5px;
}

.priceF input {
    height: 35px;
    width: 100px;
}

.ratingF input {
    height: 35px;
    width: 100px;
}

.ratingF {
    margin-left: 80px;
    float: left;
}

#drop3 {
    float: right;
    margin-right: 35px;
}

/* edit search results part */
.product {
    width: 360px;
    height: 440px;
    display: inline-block;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    background-color: #faf3dd;
}

.productPic {
    width: 270px;
    margin-top: 10px;
}

.productPrice {
    font-weight: 20px;
    font-size: 20px;
    margin-top: 15px;
}

.fa {
    color: orange;
    font-size: 25px;
}

/* edit the footer */
.gcs-footer {
    margin-top: 50px;
    background: #efefef;
    width: 100%;
    height: 130px;
    text-align: center;
    color: black;
    position: absolute;
}

.footer-top {
    margin-top: 40px;
}

.gcs-footer a {
    color: #7d8597;

    padding: 0 10px;
    vertical-align: middle;
}

.gcs-footer a:hover {
    color: #f08080;
    text-decoration: underline;
}

.gcs-footer p {
    height: 15px;
    color: black;
    margin-top: 15px;
}